<div class="atm-display-line">
    <span>{{$ctrl.currentDisplay[0]}}</span>
</div>
<div class="atm-display-line">
    <span>{{$ctrl.currentDisplay[1]}}</span>
</div>
<div class="atm-display-line">
    <span>{{$ctrl.currentDisplay[2]}}</span>
</div>
<div class="atm-display-line">
    <span>{{$ctrl.currentDisplay[3]}}</span>
</div>
<div class="atm-display-line">
    <span>{{$ctrl.currentDisplay[4]}}</span>
</div>
<div class="atm-display-line">
    <span>{{$ctrl.currentDisplay[5]}}</span>
</div>
<div class="atm-display-line">
    <span>{{$ctrl.currentDisplay[6]}}</span>
</div>
<div class="atm-display-line">
    <span>{{$ctrl.currentDisplay[7]}}</span>
</div>
<div class="atm-display-line">
    <span>{{$ctrl.currentDisplay[8]}}</span>
</div>
<div class="atm-display-line">
    <span>{{$ctrl.currentDisplay[9]}}</span>
</div>
<div class="atm-display-line">
    <span>{{$ctrl.currentDisplay[10]}}</span>
</div>
