<div class="atm-display-line">
    <span>.................................</span>
</div>
<div class="atm-display-line">
    <span>.................................</span>
</div>
<div class="atm-display-line">
    <span>.................................</span>
</div>
<div class="atm-display-line">
    <span>.................................</span>
</div>
<div class="atm-display-line">
    <span>.................................</span>
</div>
<div class="atm-display-line">
    <span>.................................</span>
</div>
<div class="atm-display-line">
    <span>.................................</span>
</div>
<div class="atm-display-line">
    <span>.................................</span>
</div>
<div class="atm-display-line">
    <span>.................................</span>
</div>
<div class="atm-display-line">
    <span>.................................</span>
</div>
<div class="atm-display-line">
    <span>.................................</span>
</div>
