.atm-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.atm-panel .left-panel,
.atm-panel .right-panel {
  margin-left: 2em;
}
.atm-panel .left-panel {
  order: 1;
  flex-basis: 38em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1em;
}
.atm-panel .left-panel .atm-display-buttons-left,
.atm-panel .left-panel .atm-display,
.atm-panel .left-panel .atm-display-buttons-right {
  border: 1px solid black;
  height: 18em;
}
.atm-panel .left-panel .atm-display-buttons-left {
  order: 1;
  flex-basis: 4em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}
.atm-panel .left-panel .atm-display-buttons-left .atm-display-button {
  flex-basis: 2em;
  width: 2em;
  margin-bottom: 1em;
  border: 1px solid black;
  background-color: #BBDEFB;
}
.atm-panel .left-panel .atm-display {
  order: 2;
  flex-basis: 30em;
  background-color: #BBDEFB;
}
.atm-panel .left-panel .atm-display-buttons-right {
  order: 3;
  flex-basis: 4em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}
.atm-panel .left-panel .atm-display-buttons-right .atm-display-button {
  flex-basis: 2em;
  width: 2em;
  margin-bottom: 1em;
  border: 1px solid black;
  background-color: #BBDEFB;
}
.atm-panel .right-panel {
  order: 2;
  flex-basis: 20em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
}
.atm-panel .right-panel .receipt-dispenser,
.atm-panel .right-panel .card-slot {
  border: 1px solid black;
  background-color: #BBDEFB;
  width: 100%;
}
.atm-panel .right-panel .receipt-dispenser {
  order: 1;
  flex-basis: 1.5em;
  margin-bottom: 1em;
}
.atm-panel .right-panel .card-slot {
  order: 2;
  flex-basis: 8em;
}
.atm-panel .left-panel .cash-dispenser {
  border: 1px solid black;
  background-color: #BBDEFB;
  height: 3em;
  flex-basis: 20em;
}
.atm-panel .right-panel .deposit-slot {
  border: 1px solid black;
  background-color: #BBDEFB;
  width: 100%;
  flex-basis: 3em;
}
