.atm-panel {
  background-color: #9E9E9E;
}
.atm-display {
  background-color: #BBDEFB;
  border: 1px solid black;
}
.atm-numeric-button,
.keypad {
  background-color: #E0E0E0;
  border: 1px solid black;
}
.atm-control div:nth-child(2) {
  border: 1px solid black;
  background-color: white;
}
.atm-numeric-button input[type="button"] {
  background-color: white;
}
.atm-button {
  border: 1px solid black;
}
#cancelButton {
  background-color: #F44336;
}
#clearButton {
  background-color: #FFEB3B;
}
#enterButton {
  background-color: #4CAF50;
}
.atm-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.atm-panel .left-panel,
.atm-panel .right-panel {
  margin-left: 2em;
}
.atm-panel .left-panel {
  order: 1;
  flex-basis: 40em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1em;
}
.atm-panel .left-panel .atm-numeric-buttons-left,
.atm-panel .left-panel .atm-display,
.atm-panel .left-panel .atm-numeric-buttons-right {
  height: 18em;
}
.atm-panel .left-panel .atm-numeric-buttons-left {
  order: 1;
  flex-basis: 4.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}
.atm-panel .left-panel .atm-numeric-buttons-left .atm-numeric-button {
  margin-bottom: 1em;
}
.atm-panel .left-panel .atm-display {
  order: 2;
  flex-basis: 30em;
}
.atm-panel .left-panel .atm-numeric-buttons-right {
  order: 3;
  flex-basis: 4.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}
.atm-panel .left-panel .atm-numeric-buttons-right .atm-numeric-button {
  margin-bottom: 1em;
}
.atm-panel .right-panel {
  order: 2;
  flex-basis: 20em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
  margin-right: 1em;
}
.atm-panel .right-panel .receipt-dispenser,
.atm-panel .right-panel .card-slot {
  width: 100%;
}
.atm-panel .right-panel .receipt-dispenser {
  order: 1;
  flex-basis: 2.5em;
  margin-bottom: 1em;
}
.atm-panel .right-panel .card-slot {
  order: 2;
  flex-basis: 8em;
}
.atm-panel:nth-child(2) {
  padding-bottom: 1em;
}
.atm-panel:nth-child(2) .left-panel .cash-dispenser {
  height: 3em;
  flex-basis: 20em;
}
.atm-panel:nth-child(2) .right-panel .deposit-slot {
  width: 100%;
  flex-basis: 3em;
}
.atm-panel:nth-child(3) .keypad {
  display: flex;
  flex-flow: row nowrap;
  height: 10em;
  flex-basis: 12em;
  margin-bottom: 1em;
}
.atm-panel:nth-child(3) .keypad .number-pad {
  flex-basis: 10em;
  display: flex;
  flex-flow: column nowrap;
}
.atm-panel:nth-child(3) .keypad .number-pad .number-pad-row {
  display: flex;
  flex-flow: row nowrap;
}
.atm-numeric-button {
  height: 2.2em;
  width: 2.2em;
}
.atm-numeric-button input[type="button"] {
  display: block;
  margin: 0.1em auto 0;
  height: 2em;
  width: 2em;
}
.atm-button {
  height: 2.2em;
  width: 5em;
}
.atm-button input[type="button"] {
  display: block;
  margin: 0.1em auto 0;
  height: 2em;
  width: 4.8em;
}
.atm-control {
  display: flex;
  flex-flow: column;
}
.atm-control div:nth-child(1) {
  text-align: center;
}
.atm-control div:nth-child(2) {
  flex-basis: 100%;
}
