@control-grey: #9E9E9E;
@light-blue: #BBDEFB;

// Presentation
.atm-panel {
  background-color: @control-grey;
}
.atm-display {
  background-color: @light-blue;
  border: 1px solid black;
}
.atm-display-button,
.receipt-dispenser,
.card-slot,
.cash-dispenser,
.deposit-slot {
  background-color: white;
  border: 1px solid black;
}

// Structure
.atm-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  .left-panel, .right-panel {
    margin-left: 2em;
  }
  .left-panel {
    order: 1;
    flex-basis: 38em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1em;
    .atm-display-buttons-left, .atm-display, .atm-display-buttons-right {
      height: 18em;
    }
    .atm-display-buttons-left {
      order: 1;
      flex-basis: 4em;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      .atm-display-button {
        flex-basis: 2em;
        width: 2em;
        margin-bottom: 1em;
      }
    }
    .atm-display {
      order: 2;
      flex-basis: 30em;
    }
    .atm-display-buttons-right {
      order: 3;
      flex-basis: 4em;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      .atm-display-button {
        flex-basis: 2em;
        width: 2em;
        margin-bottom: 1em;
      }
    }
  }
  .right-panel {
    order: 2;
    flex-basis: 20em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
    margin-right: 1em;
    .receipt-dispenser, .card-slot {
      width: 100%;
    }
    .receipt-dispenser {
      order: 1;
      flex-basis: 1.5em;
      margin-bottom: 1em;
    }
    .card-slot {
      order: 2;
      flex-basis: 8em;
    }
  }
}

.atm-panel:nth-child(2) {
  padding-bottom: 1em;
  .left-panel {
    .cash-dispenser {
      height: 3em;
      flex-basis: 20em;
    }
  }
  .right-panel {
    .deposit-slot {
      width: 100%;
      flex-basis: 3em;
    }
  }
 }
