.top-panel {
  display: flex;
  flex-flow: row nowrap;
  height: 20em;
  border: 1px solid #000;
  .top-left-panel, .top-right-panel {
    border: 1px solid #000;
  }
  .top-left-panel {
    order: 1;
    flex-basis: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .atm-display-buttons-left, .atm-display, .atm-display-buttons-right {
      border: 1px solid #000;
      height: 18em;
    }
    .atm-display-buttons-left {
      order: 1;
      flex-basis: 10%;
      background-color: #F00;
    }
    .atm-display {
      order: 2;
      flex-basis: 70%;
      background-color: #C0C0C0;
    }
    .atm-display-buttons-right {
      order: 3;
      flex-basis: 10%;
      background-color: #0F0;
    }
  }
  .top-right-panel {
    order: 2;
    flex-basis: 30%;
  }
}

.bottom-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000;
  height: 6em;
  .cash-dispenser, .deposit-slot {
    border: 1px solid #000;
    background-color: #C0C0C0;
    height: 4em;
    flex-basis: 30%;
  }
  .cash-dispenser {
    order: 1;
  }
  .deposit-slot {
    order: 2;
  }
}
