<div class="keypad">
    <div class="number-pad">
        <div class="number-pad-row">
            <div class="atm-numeric-button">
                <input type="button" id="keypadButton1" value="1" ng-click="$ctrl.keyPress(1)">
            </div>
            <div class="atm-numeric-button">
                <input type="button" id="keypadButton2" value="2" ng-click="$ctrl.keyPress(2)">
            </div>
            <div class="atm-numeric-button">
                <input type="button" id="keypadButton3" value="3" ng-click="$ctrl.keyPress(3)">
            </div>
        </div>
        <div class="number-pad-row">
            <div class="atm-numeric-button">
                <input type="button" id="keypadButton4" value="4" ng-click="$ctrl.keyPress(4)">
            </div>
            <div class="atm-numeric-button">
                <input type="button" id="keypadButton5" value="5" ng-click="$ctrl.keyPress(5)">
            </div>
            <div class="atm-numeric-button">
                <input type="button" id="keypadButton6" value="6" ng-click="$ctrl.keyPress(6)">
            </div>
        </div>
        <div class="number-pad-row">
            <div class="atm-numeric-button">
                <input type="button" id="keypadButton7" value="7" ng-click="$ctrl.keyPress(7)">
            </div>
            <div class="atm-numeric-button">
                <input type="button" id="keypadButton8" value="8" ng-click="$ctrl.keyPress(8)">
            </div>
            <div class="atm-numeric-button">
                <input type="button" id="keypadButton9" value="9" ng-click="$ctrl.keyPress(9)">
            </div>
        </div>
        <div class="number-pad-row">
            <div class="atm-numeric-button">
            </div>
            <div class="atm-numeric-button">
                <input type="button" id="keypadButton0" value="0" ng-click="$ctrl.keyPress(0)">
            </div>
            <div class="atm-numeric-button">
            </div>
        </div>
    </div>
    <div class="number-pad-actions">
        <div class="atm-button">
            <input type="button" id="cancelButton" value="CANCEL">
        </div>
        <div class="atm-button">
            <input type="button" id="clearButton" value="CLEAR">
        </div>
        <div class="atm-button">
            <input type="button" id="enterButton" value="ENTER">
        </div>
    </div>
</div>