<div>
    <div class="atm-numeric-button">
        <input type="button" ng-click="$ctrl.keyPress({'keyPressed': '1st'})">
    </div>
    <div class="atm-numeric-button">
        <input type="button" ng-click="$ctrl.keyPress({'keyPressed': '2nd'})">
    </div>
    <div class="atm-numeric-button">
        <input type="button" ng-click="$ctrl.keyPress({'keyPressed': '3rd'})">
    </div>
    <div class="atm-numeric-button">
        <input type="button" ng-click="$ctrl.keyPress({'keyPressed': '4th'})">
    </div>
</div>